body {
  background: linear-gradient(to bottom, #002131 0%, #19629e 60%);
  height: 100vh;
  margin: 0;
}

#stars {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#dunes {
  top: 0;
  position: absolute;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/155629/dunes.png");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 20px hsla(0,100%,100%,0.3);
  margin: 0;
  padding-top: 5%;
}